.underContent {

    padding-top: 10px;

}

.underContent .titleContent {
    border-bottom: 2px solid #2FA1B3;
}

.underContent h2 {
    background-color: #2FA1B3;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 7px 30px 7px 15px;
    font-size: 20px;
    text-transform: uppercase;
}

.underContent .listItem .card {
    margin-top: 20px;
    width: 625px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.842);
}

.underContent .listItem .card .linkCard {
    display: flex;
    gap: 20px
}

.underContent .listItem .card .linkCard .title h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.underContent .listItem .card img {
    width: 155px;
    height: 100px;
    border-radius: 7px;
}

.underContent .listItem .card .timeSrc {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 950px) {
    .underContent .listItem .card {
        width: 348px;
    }

    .underContent .listItem {
        width: 390px;
    }

    .underContent {
        padding-left: 130px;
    }

    .underConten {
        width: 390px;
    }
}